.login-list {
  ion-label {
    color: #fff !important;
  }
  ion-input {
    border-bottom: 1px solid #fff !important;
    color: #fff !important;
  }
  ion-item,
  .item-inner {
    border-bottom: 0px solid #fff !important;
    border-top: 0px solid #fff !important;
    -webkit-box-shadow: 0 0px 0 0 #fff !important;
    -moz-box-shadow: 0 0px 0 0 #fff !important;
    box-shadow: 0 0px 0 0 #fff !important;
  }
  .Custom_Secondry {
    color: #222 !important;
    font-size: 0.8em;
  }
}

